*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000319;
    font-family:"Inter", sans-serif;
}

.container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.img1 {
    position: absolute;

}

.img2 {
    position: absolute;
    left: 940px;
}

.img3 {
    position: absolute;
    z-index: -1;
}

.section1 {
    display: flex;
    flex-direction: column;
    height: 250px;
}

.header-wrapper {
    width: 100%;
    max-width: 1500px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}


header {
    height: 80px;
    width: 500px;
    background: linear-gradient(#04071D,#0C0E23);
    margin-top: 50px;
    border-image: linear-gradient(#6971A2, #272A3C); 
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
}

nav {
    border: 1px solid #6971A2; /* Chegarani shaffof qilish */
    border-radius: 10px;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 999;
}

nav ul {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
}


.links {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: unset;
    color: white;
    font-size: 16px;
}

.links:hover {
    color: gray;
    transition: all ease-in-out 0.5s;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.main {
    width: 100%;
    justify-self: center;
    z-index: 999;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.heading2 {
    font-weight: 300;
    color: #E4ECFF;
    font-size: 18px;
}

h1 {
    font-size: 72px;
    color: white;
}

.spn1 {
    color: #CBACF9;
    font-weight: 700;
}

.heading3 {
    color: #E4ECFF;
    font-size: 24px;
    font-weight: 400;
}

.btn1 {
    width: 207px;
    height: 66px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(#161A31, #06091F);
    border-radius: 14px;
    border: none;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}


.btn1:after {
    content: "";
    position: absolute;
    height: 103%;
    width: 100.5%;
    border-radius: 14px;
    background-image: linear-gradient(to bottom right,#6971A2,#272A3C);
    z-index: -1;
}

/* SECTION2 */

.section2 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main2 {
    display: flex;
    gap: 20px;
}


.rightHero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 251px;   
    width: 522px;            
    overflow-y: hidden;  /* Ortga chiqadigan kontentni yashirish */
    background-color: lightgray;
    background: linear-gradient(#04071D,#0C0E23);
    border-radius: 23px;
    border: 1px solid  #272A3C;
}

.text {
    font-size: 14px;
    z-index: 999;
    color: #C1C2D3;
    position: relative;
    left: 40px;
}

.spn2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.scroll-container {
    display: flex;
    flex-direction: column;  /* Kontentni vertikal joylashtirish */
    animation: scroll-up 5s linear infinite;  /* Avtomatik scroll animatsiyasi */
    display: flex;
    gap: 20px;
}

.content {
    height: 72px;
    width: 140px;
    background-color: #10132E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

/* Scroll animatsiyasi */

@keyframes scroll-up {
    0% {
        transform: translateY(0);  /* Yuqoridan boshlash */
    }
    25% {
        transform: translateY(10%); /* 25%dan keyin birinchi bo'limni ko'rsatamiz */
    }
    50% {
        transform: translateY(30%); /* 50%dan keyin ikkinchi bo'limni ko'rsatamiz */
    }
    75% {
        transform: translateY(-30%); /* 75%dan keyin uchinchi bo'limni ko'rsatamiz */
    }
    100% {
        transform: translateY(0); /* Oxirida barcha bo'limlar scroll bo'ladi */
    }
}


.scroll-container1 {
    display: flex;
    flex-direction: column;  /* Kontentni vertikal joylashtirish */
    animation: scroll-down 5s linear infinite;  /* Avtomatik scroll animatsiyasi */
    display: flex;
    gap: 20px;
}

@keyframes scroll-down {
    0% {
        transform: translateY(-0);  /* Yuqoridan boshlash */
    }
    25% {
        transform: translateY(-10%); /* 25%dan keyin birinchi bo'limni ko'rsatamiz */
    }
    50% {
        transform: translateY(-30%); /* 50%dan keyin ikkinchi bo'limni ko'rsatamiz */
    }
    75% {
        transform: translateY(30%); /* 75%dan keyin uchinchi bo'limni ko'rsatamiz */
    }
    100% {
        transform: translateY(0); /* Oxirida barcha bo'limlar scroll bo'ladi */
    }
}

/* MAIN3 */

.main3 {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

.card2 {
    width:351px;
    height: 180px;
    background-image: url(./imgs/backgroundblobservicepng.png);
    background-repeat: no-repeat;
    border: 1px solid  #272A3C;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.leftHero1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading4 {
    font-size: 24px;
    color: white;
}

#copyButton {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    justify-content: space-evenly;
    width: 197px;
    height: 41px;
    border: 1px solid gray;
    border-radius: 5px;
    background: linear-gradient(#161A31,#06091F);
}

.card3 {
    width: 860px;
    height: 390px;
    background-image: url(./imgs/back.png);
    border: 1px solid  #272A3C;
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text1 {
    color: #C1C2D3;
    font-size: 22px;
    margin-left: 10px;
}

.img4:hover {
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}

/* SECTION3 */

.section3 {
    height: auto;
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading5 {
    font-size: 48px;
    color: white;
    text-align: center;
}

.spn3 {
    color: #CBACF9;
}

.cards1 {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.card-item1 {
    width: 600px;
    height: 618px;
    border: 1px solid  #272A3C;
    border-radius: 23px;
    background: linear-gradient(#04071D,#0C0E23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.headingjon {
    font-size: 32px;
    color: white;
    margin-right: 20px;
}

.headingjon1 {
    font-size: 32px;
    color: white;
    margin-right: 68px;
}

.one {
    margin-right: 10px;
}

.logos {
    height: 70px;
    max-width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-item {
    align-self: center;
    width: 275px;
    position: relative;
    display: flex;
    gap: 800px;
}

.imgg1{
    position: absolute;
    left: -50px;
    top: -25px;
}

.imgg2{
    position: absolute;
    left: -5px;
    top: -25px;
}

.imgg3{
    position: absolute;
    left: 40px;
    top: -25px;
}

.imgg4{
    position: absolute;
    left: 85px;
    top: -25px;
}

.imgg5{
    position: absolute;
    left: 130px;
    top: -25px;
}

.check {
    margin-left: 30px;
}

.text2 {
    color: #BEC1DD;
    font-size: 20px;
    margin-right: 30px;
}

.imgEarth {
    margin:25px;
}

/* SECTION4 */ 

.section4  {
    height: auto;
    padding-top: 100px;
}

.scrollH {
    margin-top: 40px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 40px; 
    scrollbar-width: thin;
}

.content1 {
    background-image: url(./imgs/Image.png);
    width: 1000px;
    height: 300px;
    border: 1px solid  #272A3C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.two {
    font-size: 18px;
    margin-left: 50px;
}

.name {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 85%;
}

.name-p {
    font-size: 18px;
    color: white;
}

.jobs {
    font-size: 14px;
    color: #C1C2D3;
}

.logo-wrapper {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.logo-wrapper > img {
    width: 15%;
}

/* SECTION5 */

.section5 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box {
    padding-top: 100px;
    display: flex;
    gap: 40px;
}

.box-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid  #272A3C;
    border-top: 5px solid #272A3C;
    border-radius: 23px;
    width: 600px;
    height: 190px;
    background: linear-gradient(#04071D,#0C0E23);
}

.heading6 {
    color: white;
    font-size: 26px;
}

.text3 {
    color: #BEC1DD;
    font-size: 16px;
}


.brand {
    width: 97px;
    height: 87px;
}

.myName {
    font-style: italic;
    color: #CBACF9;
    font-weight: bold;
    text-decoration: underline;
}

.linkjon {
    text-decoration: none;
}

/* SECTION6 */

.section6 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.boxes-item {
    background: linear-gradient(#04071D,#0C0E23);
    position: relative;
    border-radius: 23px;
    width: 387px;
    height: 620px;
    border: 1px solid  #272A3C;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxImg1 {
    position: absolute;
    top: -15px;
    left: -20px;
}

.boxImg2 {
    position: absolute;
    top: -15px;
    left: 360px;
}

.boxImg3 {
    position: absolute;
    top: 590px;
    left: -20px;
}

.boxes-item1 {
    border-radius: 23px;
    width: 387px;
    height: 620px;
    border: 1px solid  #272A3C;
    position: relative;
    background: linear-gradient(#04071D,#0C0E23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.boxImg {
    position: absolute;
    top: 590px;
    left: -110px;
}

.boxImg4 {
    position: absolute;
    top: 590px;
    left: 360px;
}

.btn2 {
    border: 1px solid  #272A3C;
    font-size: 30px;
    color: #CBACF9;
    font-weight: 600;
    border-radius: 10px;
    width: 159px;
    height: 72px;
    background: linear-gradient( #161A31, #06091F);
}

.btn3 {
    border: 1px solid  #272A3C;
    font-size: 16px;
    color: #CBACF9;
    font-weight: 600;
    border-radius: 10px;
    width: 100px;
    height: 43px;
    background: linear-gradient( #161A31, #06091F);
}

.headings {
    font-size: 32px;
    color: white;
}

.text4 {
    font-size: 16px;
    color: #E4ECFF;
    text-align: center;
    line-height: 1.5;
}

/* FOOTER */

.vector  {
    position: absolute;
    max-width: 1500px;
    height: 700px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 80px;
}

.footer-wrapper {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.h2 {
    margin-top: 200px;
}

.textFooter {
    font-size: 16px;
    color: #C1C2D3;
}

.textC {
    font-size: 16px;
    color: #C1C2D3;

}

.apps-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
}

.apps-item {
    z-index: 999;
    display: flex;
    gap: 20px;
}

.apps-item img:hover {
    transform: scale(1.1);
}

.space {
    height: 200vh;
}

@media (max-width:1500px) {
    .img1, .img2, .img3{
        display: none;  
    } 
    .scrollH {
        justify-self: center;
    }
    .container1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width:1300px) {
    h1 {
        font-size: 50px;
    }
    .leftHero {
        width: 50%;
    }
    .heading5 {
        font-size: 35px;
    }
    .leftHero img {
        width: 100%;
        height:85%;
    }
    .card1 {
        height: 200px;
    }
    .rightHero {
        height: 50%;
        gap: 10px;
    }
    .rightHero img {
        height: 200px;
    }
    .leftHero1 {
        width: 30%;
    }
    .card3 {
        width: 65%;
    }
    .cards1 {
        max-width: 1000px;
        margin-left: 20px;
    }
    .card-item1 {
        width: 70%;
        height: 500px;
    }
    .headingjon, .headingjon1 {
        font-size: 25px;
    }
    .text2 {
        font-size: 16px;
    }
    .imgg1 {
        left: 1px;
    }
    .imgg2 {
        left: 45px;
    }
    .imgg3 {
        left: 90px;
    }
    .imgg4 {
        left: 135px;
    }
    .imgg5 {
        left: 180px;
    }
    .imgEarth {
        width: 90%;
    }
    .boxes-item, .boxes-item1 {
        width: 30%;
        height: 500px;
    }
    .boxImg1, .boxImg, .boxImg2, .boxImg3, .boxImg4 {
        display: none;
    }
    .box-item1 {
        width: 500px;
    }   
    
}


@media (max-width:1100px) {
    .main2, .main3 {
        max-width: 700px;
        flex-direction: column;
        align-items: center;
    }
    .leftHero, .leftHero1, .rightHero,.rightHero1 {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .leftHero {
        display: flex;
        justify-content: center;
    }
    .imgTech {
        width: 100%;
    }
    .leftHero img, .rightHero img, .imgTech{
        height: 100%;
        width: 600px;
    }
    .card1 {
        width: 100%;
        height: 300px;
    }
    .main3 {
        justify-self: center;
    }
    .card2, .card3 {
        width: 600px;
    }
    .img4 {
        width: 400px;
        height: 400px;
    }
    .box-item1 {
        width:400px;
        height: 150px;
    }
    .heading6 {
        font-size: 18px;
    }
    .text3 {
        padding-top: 20px;
        font-size: 13px;
    }
    .brand {
        width: 80px;
        height: 65px;
    }
    .card-item1 {
        width: 400px;
    }
    .logos-item img {
        width: 35px;
        height:35px;
    }
    .headingjon, .headingjon1 {
        font-size: 19px;
    }
    .text2 {
        font-size: 13px;
    }
    .check img {
        width: 120px;
        height: 20px;
    }
    .imgg1 {
        left: 30px;
    }
    .imgg2 {
        left: 60px;
    }
    .imgg3 {
        left: 90px;
    }
    .imgg4 {
        left: 120px;
    }
    .imgg5 {
        left: 150px;
    }
    .logos {
        width: 400px;
    }
    .check {
        margin-left: 0;
    }

}

@media (max-width:900px) {
    .cards1, .box, .box-wrapper {
        flex-direction: column;
    }
    .box-wrapper {
        align-items: center;
        gap: 20px;
    }
    .boxes-item1, .boxes-item {
        height: 450px;
        width: 350px;
    }
    .headings {
        font-size: 18px;
    }
    .text4 {
        font-size: 14px;
    }
    .vector {
        display: none;
    }
    .btn1 {
        width: 150px;
        height: 50px;
    }
    .section1 {
        height: 150px;
    }
    .main {
        height: 400px;
    }
    h1 {
        font-size: 24px;
    }
    .heading3 {
        font-size: 17px;
    }
    .img4 {
        height: 290px;
    }
    .leftHero img, .rightHero img,.card3 {
        /* height:300px;
        width: 600px; */
        height: 80%;
        width: 80%;
    }
    .leftHero1{
        width: 100%;
    }
    .imgTech {
        width: 100%;
    }
    .card2 {
        width: 100%;
    }
    .card1 {
        height: 300px;
        width: 75%;
    }
    .card3 {
        height: 100%;
        width: 430px;
    }
    .text1 {
        font-size: 13px;
    }
    .spn2 {
        font-size: 17px;
    }
    .img4 {
        width: 200px;
        height: 190px;
    }
    .apps-wrapper {
        max-width: 700px;
        justify-self: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    .textFooter {
        text-align: center;
    }
    .box {
        padding-top: 40px;
    }
    .content1 {
        height: 200px;
        width: 700px;
    }
}

@media (max-width:420px) {
    header {
        width: 85vw;
    }
    ul {
        gap: 1rem !important;
        width: 90vw;
    }
    .links {
        font-size: 13px;
    }
    .header-wrapper {
        justify-self: center;
    }
    .heading3 {
        text-align: center;
    }
    .card3, .card2, .imgTech, .card1, .leftHero img, .rightHero img {
        width: 90vw;
    }
    .card1 {
        height: 200px;
    }
    .content {
        width: 80px;
        height: 40px;
        font-size: 14px;
    }
    .cards1 {
        margin-left: 0;
    }
    .card-item1 {
        width: 350px;
        height: 390px;
    }
    .text2 {
        margin-left: 0;
        font-size: 11px;
        margin-top: 10px;
    }
    .logo-wrapper {
        width: 100;
        display: flex;
        flex-wrap: wrap;
    }
    .logos {
        height: 0;
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: 0;
        width: fit-content;
        justify-content: unset;
    }
    .logos-item {
        margin-left: 0;
    }
    .check img {
        width: 80px;
        height: 15px;
    }
    .imgg1 {
        margin-left: 0;
    }
    .logos-item img {
        margin-left: 0;
        width: 30px;
        height: 30px;
    }
    .box-item1 {
        gap: 5px;
        width: 90vw !important;
        height: 50vh !important; 
        flex-direction: column;
    }
    .heading6 {
        font-size: 20px;
    }
    .brand {
        margin-left: 25px;
        align-self: start;
    }
    .text3 {
        font-size: 12px;
        padding: 5px;
    }
    .headingjon, .headingjon1 {
        margin-left: 20px;
        font-size: 20px;
    }
    .boxes-item, .boxes-item1 {
        width: 300px;
        height: 350px;
        border-radius: 5px;
    }
    .h2 {
        margin-top: 50px;
    }
    .btn2 {
        width: 30vw;
        height: 15vh;
        font-size: 20px;
    }
    .heading5 {
        font-size: 22px;
    }
    .textFooter {
        font-size: 13px;
    }
    .textC {
        font-size: 12px;
    }
    footer {
        gap: 0px;
    }
}